/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2023 TOKITA Hiroshi
 */

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
};

&die_temp {
	label = "CPU0";
	status = "okay";
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};